{
# ###########################################################################
# Extension requested by [O+P #35026]
# Created by Fritz Zaucker - OETIKER+PARTNER AG - 2018-07-05
# ###########################################################################
  use lib "/opt/rtfb/lib";
  use Digest::MD5 qw(md5_hex);

  my $ticket_id      = $Ticket->id;
  my $ticket_subject = $Ticket->Subject;

  my $requestor = $Ticket->Requestors->UserMembersObj->First;
  my $lang = $requestor->Lang if $requestor;
  $lang //= 'de';
  my ($l, $sl) = split('-', $lang);
  $lang = $l;
  
  my $url_root      = RT->Config->Get("RtFb_FeedbackURL");
  my $secret        = RT->Config->Get("RtFb_FeedbackSecret");
  my $support_mail  = RT->Config->Get("RtFb_FeedbackMail");
  my $support_phone = RT->Config->Get("RtFb_FeedbackPhone");
  my $intro         = RT->Config->Get("RtFb_MailIntro")->{$lang};
  my $footer        = RT->Config->Get("RtFb_MailFooter");
  my $trailer       = RT->Config->Get("RtFb_MailTrailer")->{$lang};
  my $feedbackForm  = RT->Config->Get("RtFb_FeedbackForm");

  my $subject      = $feedbackForm->{subject}{$lang};
  my $feedbackList = $feedbackForm->{selection};

  my $hash          = md5_hex($ticket_id . $secret);
  my $feedback_link = "$url_root?ticket=$ticket_id\&md5=$hash";

  my $feedbacks = '<table width="350"><tr>';
  for my $fb (@$feedbackList){
      my $value = $fb->{value};
      my $label = $fb->{text}{$lang};
      my $image = $fb->{image};
      $feedbacks .= qq{<td valign="top"><a href="$feedback_link\&feedback=$value"><img width="75" src="$image" alt="$label"/><br/>$label</a></td>\n};
  }
  $feedbacks .= '</tr></table>';

# ======
qq{$subject: $ticket_id: $ticket_subject
Content-Type: text/html; charset=UTF-8

<p>$intro</p>
<ul>
$feedbacks
</ul>
<p>$trailer</p>
<p>$footer->{logo}</p>
<p>$footer->{address}<br/>
$footer->{phone}{$lang} $footer->{phoneNumber}</p>
<a href="$footer->{facebookUrl}">$footer->{facebookLogo}$footer->{facebookUrl}</a><br/>
<a href="$footer->{twitterUrl}">$footer->{twitterLogo}$footer->{twitterUrl}</a></p>

}
}
