{
  use lib "/opt/rtfb/lib";
  use Digest::MD5 qw(md5_hex);

  my $lang = 'de';
  my $url_root      = RT->Config->Get("RtFb_FeedbackURL");
  my $secret        = RT->Config->Get("RtFb_FeedbackSecret");
  my $support_mail  = RT->Config->Get("RtFb_FeedbackMail");
  my $support_phone = RT->Config->Get("RtFb_FeedbackPhone");
  my $intro         = RT->Config->Get("RtFb_MailIntro")->{$lang};
  my $footer        = RT->Config->Get("RtFb_MailFooter")->{$lang};
  my $feedbackForm  = RT->Config->Get("RtFb_FeedbackForm");

  my @feedbackList;
  for my $s (@{$feedbackFrom->{selection}}) {
      push @feedbackList, $s->{value};
  }
  my $mail  = $feedbackFrom->{mail}{$lang};
  my $phone = $feedbackFrom->{phone}{$lang};

  my $ticket_id      = $Ticket->id;
  my $ticket_subject = $Ticket->Subject;

  my $hash = md5_hex($ticket_id . $secret);
  my $feedback_link = "$url_root/$ticket_id/$hash";

  my $feedbacks = '';
  for my $fb (@feedbackList){
      $feedbacks .= qq{<li><a href="$feedback_link/$fb">$fb</a></li>\n};
  } 

# ======
qq{Subject: $ticket_id: $ticket_subject
Content-Type: text/html; charset=UTF-8

$intro
<ul>
$feedbacks
</ul>
<p>$footer</p>
<table>
  <tr><td>$mail:</td><td>$support_mail</td></tr>
  <tr><td>$phone:</td><td>$support_phone</td></tr>
</table>
}

}
