// The functional config is in RT!
{
    "GENERAL": {
        // the log file is only active in production mode
        "logFile": "/tmp/rtfb.log",
	// only for app
        "secret": "mysecret",
    },
}
