{
    "GENERAL": {
        // the log file is only active in production mode
        "logFile": "/tmp/rtfb.log",
        "secret": "mysecret",
    },
    "ORGANISATIONS": [
        {
            "name": "Demo",
            "email": "info@demo.ch",
        },
    ],
}
